.header-all{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}



.header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: white;
}

.logo{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}


