.header-all{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/e456d8b923f5/assets/img/home/hero_photos/DLIUyjgS7v50YRV2xfNquA.jpg");

  background-repeat: no-repeat;
  background-position: center;
 background-size: cover;
}



.header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: white;
}


