

.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
}

.signin-nav{
  margin-right: 10px;
}