

.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 3px;
}

.signin-nav{
  margin-right: 10px;
  color: inherit;
}

.signup-nav{
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  padding: 7px 24px; 
  width: 150px;
  height: 150px; 
  margin-left: 10px;
}