.index-main{
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filter-container{
    background-color: #f5f5f5;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
}

.filter{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-right{
  font-size: 21px;
  color: #333;
}

.filter-left{
  font-size: 14px;
  color: #333;
}

.business-index-container{
  display: flex;
  justify-content: center;
  align-items: space-around;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.business-index{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}

.business-index-photo img{
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 18px;
}
.business-index-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 75px;
}

.business-index-info-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 75px;
}

.business-index-info-left{
  display: flex;
  flex-direction: column;
}

.business-index-info-right{
  width: 120px;
  padding-top: 3px;
  padding-left: 12px;
  text-align: right;
  height: 70px;
  display: flex;
  flex-direction: column;
  font-size:14px;
  color: #333333;
}
.business-index-info-right div{
  padding-bottom: 5px;
}

.index-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.business-index-photo img{
  display: flex;
  justify-content: flex-start;
  height: 210px;
  width: 210px;
  margin-right: 10px;
}

.index-item-rating{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.map-container{
    height: 350px;
    width: 350px;
    position: sticky;
    top: 0;
}

.map-inside-container{
  position: sticky;
  height: 100%;
  width: 100%;
}
.map{
    width: 100%;
    height: 100%;
}

.stars-huge ul{
  width: 162px;
  height: 30px;
  background-image: url('https://i.imgur.com/Xg9ghe7.png');
  background-size: 162px 180px;
  background-repeat: no-repeat;
}

.stars-extra-large {
    width: 162px;
    height: 30px;
    background-image: url('https://i.imgur.com/Xg9ghe7.png');
    background-size: 162px 180px;
    background-repeat: no-repeat;
}

.stars-extra-large-0 {
    background-position: 0 0;
}

.stars-extra-large-1 {
    background-position: 0 -30px;
}

.stars-extra-large-2 {
    background-position: 0 -60px;
}

.stars-extra-large-3 {
    background-position: 0 -90px;
}

.stars-extra-large-4 {
    background-position: 0 -120px;
}

.stars-extra-large-5 {
    background-position: 0 -150px;
}


.stars-huge-0 {
  background-position: 0 0;
}

.stars-huge-1 {
  background-position: 0 -30px;
}

.stars-huge-2 {
  background-position: 0 -60px;
}

.stars-huge-3 {
  background-position: 0 -90px;
}

.stars-huge-4 {
  background-position: 0 -120px;
}

.stars-huge-5 {
  background-position: 0 -150px;
}


.star-lrg{
  width: 132px;
  height: 24px;
  margin-right: 6px;
  object-fit:none;
}

.star-lrg-0{
  object-position: 0px 0px;
}

.star-lrg-2{
  object-position: 0px -24px;
}

.star-lrg-3{
  object-position: 0px -48px;
}

.star-lrg-4{
  object-position: 0px -72px;
}

.star-lrg-5{
  object-position: 0px -96px;
}

.star-lrg-6{
  object-position: 0px -120px;
}

.star-lrg-7{
  object-position: 0px -144px;
}

.star-lrg-8{
  object-position: 0px -168px;
}

.star-lrg-9{
  object-position: 0px -192px;
}

.star-lrg-10{
  object-position: 0px -216px;
}

.star-medium{
  width: 102px;
  height: 18px;
  margin-right: 6px;
  object-fit:none;
}

.star-medium-0{
  object-position: 0px -240px;
}

.star-medium-2{
  object-position: 0px -258px;
}

.star-medium-3{
  object-position: 0px -276px;
}

.star-medium-4{
  object-position: 0px -294px;
}

.star-medium-5{
  object-position: 0px -312px;
}

.star-medium-6{
  object-position: 0px -330px;
}

.star-medium-7{
  object-position: 0px -348px;
}

.star-medium-8{
  object-position: 0px -366px;
}

.star-medium-9{
  object-position: 0px -384px;
}

.star-medium-10{
  object-position: 0px -402px;
}

.review-text{
  font-size: 12px;
}

.review-container{
  width: 960px;
  margin: 0 auto;
  height: 70vh;
}

.review-form-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
    padding: 18px;
    max-width: 630px;
}

.review-form-stars {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.review-form-stars-list {
    display: flex;
    margin-right: 8px;
}

.review-form-stars-container {
    padding-left: 3px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.review-form-stars-list li:first-child {
    padding-left: 0px;
}

.review-form-stars-input {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.review-form-stars-description {
    color: #333;
    font-size: 14px;
}


