/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }

  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}


.header-all-container{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-all{
  height: 600px;
  width: 70%;
  margin: 0 auto;
}

.header-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 473px;
  color: white;
}

#logo{
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
  font-weight: bold;
  height: 80px;
  width: 160px;
  color:  black;
  font-size: 3.5em;
  text-shadow: stroke(6, white);
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px;
  
}

#word-logo{
  margin-right: 7px;
}

#icon-logo{
  color: red;
  margin-left:2px;
}

.search-bar{
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
 margin: 0 auto;
}

.description{
  font-weight: 700;
  color: #666;
  background-color: white;
  padding: 4px 12px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.description-submit{
  font-weight: 700;
  color: #666;
  background-color: white;
  padding: 12px;
  font-size: 18px;
  background-color: red;
}

.border-near{
  border-left:1px solid lightgrey;
  display: flex;
  
}

#search-submit{
    color: #fff;
    background-color: #d32323;
    padding: 0;
    width: 54px;
    display: flex;
    justify-content: center;
    border-radius: 0px 4px 4px 0px;
    border: 0px;
    padding: 14px 20px 13px;

}
.input{
  background-color: white;
  padding: 12px;
  font-size: 18px;
}

.find{
  border-radius: 4px 0 0 4px;
  display: flex;
}


.footer{
 display: flex;
 border-top: 1px solid #ccc;
 
}

.footer img{
  margin: 30px auto 0;
}

.temp{
  font-size: 40px;
  font-weight: bold;
}

.home-body{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.yelp-worldwide{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.san-francisco{
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 24px;
  font-size: 21px;
  color: #d32323;
  padding: 10px 0px;
}

.city-names-container{
  display: flex;
  justify-content: space-around;  
  padding-bottom: 12px;
  border-bottom: 1px lightgray solid;
}

.city-names{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
  width: 400px;
}

.top-spots{
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 24px;
  font-size: 21px;
  color: #d32323;
 
}

.home-restaurant-container{
  padding-top: 32px;
  padding-bottom: 90px;
}

.home-restaurants{
  display: flex;
  justify-content: space-between;
}

.title-home{
  display: flex;
  justify-content: center;
  align-self: center;
}

.home-restaurant{
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;

}

.home-restaurant-photo{
    width: 298px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.top-restaurants-in-sf{
  display: flex;
  font-size: 20px;
  color: rgb(211, 35, 35);
  justify-content: center;
  padding-top: 30px;
}

.home-restaurant-photo img{
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  height: 250px;
  width: 298px;
}

.business-index-home-container{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.business-index-home{
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side-search{
   color: #666;
   background-color: white;
   padding: 15px;
   font-size: 16px;
   width: 450px;
  
   border: none;
   outline: none;
}

.middle-search{
  color: #666;
  background-color: white;
  padding: 15px;
  font-size: 16px;
  width: 300px;
  border: none;
  outline: none;
}

.home-business-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
}

.title-business-description{
  color: #0073bb;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  font-family:"Open Sans", sans-serif;
  padding-top: 2px;
}

.category-business-description{
  font-size: 16px;
  color: #333;
  margin-top: 6px;
}

.material-icons{
  color: white;
}




