/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }

  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}


.header-all{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.header-body{
  display: flex;
  justify-content: center;
  height: 473px;
  color: white;
}

#logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
  font-weight: bold;
  height: 80px;
  width: 160px;
  color:  black;
  font-size: 3.5em;
  padding: 60px;
  text-shadow: stroke(6, white);
  
  
}

#word-logo{
  margin-right: 7px;
}

#icon-logo{
  color: red;
  margin-left:2px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(232, 237, 242)
}

.footer-inner{
  align-self: center;
}

#temp{
  font-size: 40px;
  font-weight: bold;

}



