/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;

  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }

  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}


.header-all{
  background-image: url("https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.header-body{
  display: flex;
  justify-content: center;
  height: 473px;
  color: white;
}

#logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
  font-weight: bold;
  height: 80px;
  width: 160px;
  color:  black;
  font-size: 3.5em;
  padding: 60px;
  text-shadow: stroke(6, white);
  
  
}

#word-logo{
  margin-right: 7px;
}

#icon-logo{
  color: red;
  margin-left:2px;
}

.footer{
 display: flex;
 border-top: 1px solid #ccc;
 
}

.footer img{
  margin: 30px auto 0;
}

.temp{
  font-size: 40px;
  font-weight: bold;
}

.home-body{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.yelp-worldwide{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.san-francisco{
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 21px;
  color: #d32323;
  padding-top: 10px;
}

.city-names{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
}

.home-restaurant-container{
  padding-top: 42px;
  padding-bottom: 90px;
}

.home-restaurants{
  display: flex;
  justify-content: space-between;
}

.title-home{
  display: flex;
  justify-content: center;
  align-self: center;
}

.home-restaurant{
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;

}

.home-restaurant-photo{
    width: 298px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.top-restaurants-in-sf{
  display: flex;
  font-size: 20px;
  color: rgb(211, 35, 35);
  justify-content: center;
  padding-top: 10px;
}

.home-restaurant-photo img{
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 298px;
}




