.main-header {
  font-size: 30px;
  font-weight: 700;
  color: #333; 
  min-width: 1020px;  
}

.nav-show{
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(211, 35, 35);
  display: flex; 
  padding: 4px; 
}

.nav-show-inner{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.outer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logout-nav-show{
  text-align: right;
  color: white;
}

.left-side-nav-show{
  color: inherit;
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;  
}

.right-side-nav-show{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
}

.show-nav-login{
  color: #fff;
  background: #d32323;
  border: 1px solid #bd1f1f;
  margin-right: 4px;
}

.under-header-container{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  height: 50px;
}

.under-header{
  width: 50%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.under-header-left{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 200px;

}


.under-header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

#under-header-left-middle{
  border-left: 2px solid  #e6e6e6;;
  border-right: 2px solid  #e6e6e6;;
}

.business-header-info-container{
  display: flex;
  justify-content: center;   
  padding-top: 20px;
}

.business-header-info{
  width: 960px;
  display: flex;
  justify-content: space-between;
  
  
}

.business-header-left-side{
  display: flex;
  flex-direction: column; 
}

.business-header-right-side{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#write-a-review{
  display: inline-block !important;
  color: white;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #d90007;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 8px 19px 9px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.add-share-save{
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  display: flex;
  justify-content: flex-end;
}

#add-photo{
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #666;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.mapbox-container{
 padding: 5px;
 background-color: #fff;
 border: 1px solid #ccc;
}

.mapbox{
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  
}

#rating-sign{
  color: #333;
  font-size: 12px;
  padding: 5px 0px;
}

.left-header-content{
  display: inline-block;
  font-weight: 600;
  padding: 8px 12px;
  border-left: 1px solid #e6e6e6;
}

.right-header-content{
  display: inline-block;
  font-weight: 600;
  padding: 8px 12px;
  border-left: 1px solid #e6e6e6;
  color: #333;
}

.restaurant-photo img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  transition: all .2s ease-in-out;
}
.restaurant-photo img:hover {
  width: 250px;
  height: 250px;
  transform: scale(1.1);
}

.show-body{
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  justify-content: flex-start;
}

.body-header{
  display: flex;
  flex-direction: row;
  color: #333;
  font-size: 21px;
  margin-bottom: 8px;
}

.top-recommended{
  display: inline;
  font-weight: 700;
  font-size: 21px;
  color: #d32323;
}

.comments-more-information{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.comment-box-container{
  padding: 18px 0 17px 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  width: inherit;
  
}

.comment-box-profile-picture{
  margin-right: 9px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.comment-box-profile{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-right: 40px;
}

.review-user-pic{
  margin-right: 9px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.comment-box-body{
  flex: 2;
  padding-left: 15px;
}

.comment-box-rating-date{
  display: flex;
  margin: 6px 0px;
}

.comment-box-body{
  margin-bottom: 12px;
  color: #333;
  font-size: 14px;
}

.main-body-content{
  flex: 2;
  min-width: 660px;
  padding-right: 30px;
  border-right: 1px solid #e6e6e6;
}

.review-form{
  border: 0;
  padding: 0;
  outline: none;
  resize: none;
  width: 960px;
  margin: 0 auto;
  height: 70vh;
}
.review-title-container{
  margin-top: 24px;
}
.review-title{
  color: #0073bb;
  text-decoration: none;
  font-size: 36px;
  
}

#review-box{
  padding-top: 50px;
}

.mystar{
  color: #d32323;

}

.review-submit{
  min-width: 240px;
  height: 48px;
  margin: 15px 0px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #d32323;
  border: 1px solid #d32323;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}

.fake-information-container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.hours h1{
  color: #d32323;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.hours div{
  margin-bottom: 10px;
}

.hours div span{
  font-weight: bold;
}
.more-business-information h1{
  color: #d32323;
  margin: 12px 0px;
  font-weight: bold;
  font-size: 16px;

}
.more-business-information div{
  margin-bottom: 10px;
}

.more-business-information div span{
  font-weight: bold;
}

.formSubmit{
  display: flex;
  flex-direction: row;
}

.delete{
  padding-left: 20px 0px 0px 20px;
}




